alabaster==0.7.13
Babel==2.12.1
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
css-html-js-minify==2.5.5
docutils==0.20.1
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
packaging==23.1
Pygments==2.16.1
pyparsing==3.1.1
python-slugify==8.0.1
pytz==2023.3.post1
requests==2.31.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.5
sphinx-material @ git+https://github.com/chanicpanic/sphinx-material@5684f49ea0a12a71656ae6cc6e7700bfc75e744c
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
text-unidecode==1.3
Unidecode==1.3.6
urllib3==2.0.4
